#circleContainer {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #D9AC84;
    border: 10px solid #BF5D39;
    ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background-color: #D9AC84;
    margin: 0;
}

.wrapper1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.option_containers div {
    color: #BF5D39;
    font-family: Arial, Helvetica, sans-serif
}

#logo {
    width: 200px;
    height: 90px;

}

#start_button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #BF5D39;
    color: #D9AC84;
    border: 0px;
}

:hover#start_button {
    background-color: #C46F50;
    cursor: pointer;

}

.wrapper2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.option_containers {
    width: 300px;
    height: 80px;
    background-color: #D9AC84;
    border: 5px solid #BF5D39;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

#boil_button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #BF5D39;
    border: 0px;
    color: #D9AC84;
}

:hover#boil_button {
    background-color: #C46F50;
    cursor: pointer;
}

.inner_container {

    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_buttons {
    width: auto;
    height: 25px;
    background-color: #BF5D39;
    border: 0px;
    border-radius: 10px;
    color: #D9AC84;
    flex-grow: 1;

}

:hover.option_buttons {
    background-color: #C46F50;
    cursor: pointer;
}

img {
    width: 45%;

}

.disabled {
    background-color: #C46F50;
    opacity: 0.7;
    cursor: alias;
}

.countDownPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cook_button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #BF5D39;
    border: 0px;
    color: #D9AC84;
}

#cook_button:hover {
    cursor: pointer;
    background-color: #C46F50;
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 1500ms infinite;

}

#circleContainer,
#egg,
#cook_button {
    animation: fade 1s ease forwards;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.wiggle {
    animation: wiggle 0.5s ease infinite;
}


#info {
    width: 30px;
    height: 30px;
    border: 3px solid #BF5D39;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #BF5D39;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup {
    background: #BF5D39;
    width: 223px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px 0 15px 15px;
    z-index: 100;
    position: absolute;
    top: 60px;
    color: #D9AC84;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}